
/* scroll bar: body */
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* scroll bar: main content */
#main-content::-webkit-scrollbar {
	width: 0rem;
	height: 0rem;
}

#main-content::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#main-content::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* scroll bar: table */
.table-responsive::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.5rem;
}

.table-responsive::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.table-responsive::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* scroll bar: digital forensic dashboard */
#dashboard-col-1::-webkit-scrollbar {
	width: 0.25rem;
}

#dashboard-col-1::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#dashboard-col-1::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

#dashboard-col-2::-webkit-scrollbar {
	width: 0.25rem;
}

#dashboard-col-2::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#dashboard-col-2::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

#dashboard-col-3::-webkit-scrollbar {
	width: 0.25rem;
}

#dashboard-col-3::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#dashboard-col-3::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

#dashboard-col-4::-webkit-scrollbar {
	width: 0.25rem;
}

#dashboard-col-4::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#dashboard-col-4::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
} 

/* titlebar */
.mainApp{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #343B48;
    -webkit-box-sizing: border-box
}

.mainApp > .topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #343B48;
    background-color: #1B1D23;
    -webkit-user-select: none;
}

.topBar > .titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topBar > .titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.titleBar > .toggleButton{
    width: 45px;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url('../icons/icon_menu.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}
.titleBar > .toggleButton:hover{
    background-color: #272C36;
}
.titleBar > .toggleButton:active{
    background-color: #4F9FEE;
}
.titleBar > img{
    margin-left: 10px;
}
.titleBar > .title {
    margin-left: 10px;
    width: 100%;
    line-height: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    -webkit-app-region: drag;
}

.topBar > .titleBarBtns{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}
.titleBarBtns > .topBtn{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}
.titleBarBtns > .topBtn:hover{
    background-color: #272C36;
}
.titleBarBtns > .topBtn:active{
    background-color: #4F9FEE;
}
.titleBarBtns > .minimizeBtn{
    background-image: url('../img/icon_minimize.png');
}
.titleBarBtns > .maximizeBtn{
    background-image: url('../img/icon_maximize.png');
}
.titleBarBtns > .restoreBtn{
    background-image: url('../img/icon_restore.png');
}
.titleBarBtns > .closeBtn{
    background-image: url('../img/icon_close.png');
}

/* navbar */
.navbar {
	--x-navbar-padding-x: 0rem;
	--x-navbar-padding-y: 0rem;
}

.navbar header {
	position: relative;
	padding: 16px 20px;
}

.navbar .image {
	min-width: 60px;
	display: flex;
	align-items: center;
}

.navbar .image-text img{
	width: 45px;
	height: 45px;
}

.navbar header .image-text {
	display: flex;
	align-items: center;
}

header .image-text .header-text {
	display: flex;
	flex-direction: column;
}

.header-text .name {
	font-weight: 600;
}

.header-text .profession {
	font-size: 0.8rem;
	margin-top: -2px;
}

.list_name {
	margin-left: 10px;
}


/* Youtube */
.div-round {
	overflow: hidden;
	position: relative;
	z-index: 10;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.div-round::before {
	display: block;
	content: "";
}

.iframe-round {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	border: 0;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

iframe.youtube_frame {
    min-height: 300px;
    width: 100%;
}